<nb-layout>

  <nb-layout-header fixed>
    {{ title }}

  </nb-layout-header>

  <nb-layout-column>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
